.container {
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
  gap: 1rem;
}
.card {
  text-decoration: none;
  color: #ffffff;

}
.card:hover {
  color: aqua;
}

